<h2 class="title">Add your mobile number</h2>
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">X</a>  
  <strong>Info!</strong> Only verified number will be displayed to your friends.
</div> 
<div class="outer-box">
<form class="form-horizontal" data-remote="true">
        <div class="inner-box">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="type">Mobile Type<span class="req">*</span></label>
                        <div class="controls">
                            <%=select_tag 'type', options_for_select(%w[Mobile Work Home Other])%>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group">
                        <label class="control-label" for="phone">Mobile No<span class="req">*</span></label>
                        <div class="controls">
                            <%=number_field_tag 'phone_no', nil, in: 1...10%>
                            <div class="error_display" id="error_name"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="inputLicensorDescription">Licensor Description</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge span11" id="description" placeholder="" name="licensor_desc">
                            <div class="error_display" id="error_description" ></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="effective_from">Effective From <span class="req">*</span></label>
                        <div class="controls">
                            <div class="input-append date">
                            <span class="add-on"><i class="icon-calendar dg"></i></span>
                                <input type="text" class="input-medium" id="effective_from" maxlength="0" placeholder="" name="effective_from">
                                
                            </div>
                            <div class="error_display" id="error_effective_from" ></div>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group">
                        <label class="control-label" for="effective_to">Effective To</label>
                        <div class="controls">
                            <div class="input-append date">
                            <span class="add-on"><i class="icon-calendar dg"></i></span>
                                <input type="text" class="input-medium" id="effective_to" maxlength="0" placeholder="" name="effective_to">
                            </div>
                            <div class="error_display" id="error_effective_to" ></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="address1">Address Line 1</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="address1" placeholder="" name="address1">
                            <div class="error_display" id="error_address1"></div>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group">
                        <label class="control-label" for="address2">Address Line 2</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="address2" placeholder="" name="address2" >
                            <div class="error_display" id="error_address2"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group city">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="city" placeholder="" name="city">
                            <div class="error_display" id="error_city"></div>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group state">
                        <label class="control-label" for="state">State</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="state" placeholder="" name="state">
                            <div class="error_display" id="error_state"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group country">
                        <label class="control-label" for="country">Country<span class="req">*</span></label>
                        <div class="controls">
                            <input type="text" class="input-large" id="country" placeholder="" name="country">
                            <div class="error_display" id="error_country"></div>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group">
                        <label class="control-label" for="zip_code">Zip Code</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="zipcode" placeholder="" name="zip_code">
                            <div class="error_display" id="error_zipcode"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="phone">Phone</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="phone" placeholder="" name="phone">
                            <div class="error_display" id="error_phone"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="primary_name">Primary Contact Name</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="primary_contact_name" placeholder="" name="primary_name">
                            <div class="error_display" id="error_primary_contact_name"></div>
                        </div>
                    </div>
                </div>
                <div class="span6 right-col">
                    <div class="control-group">
                        <label class="control-label" for="primary_contact_phone">Primary Contact Phone</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="primary_contact_phone" placeholder="" name="primary_phone">
                            <div class="error_display" id="error_primary_contact_phone"></div>
                        </div>
                    </div>
                </div>
            </div><!-- row ends -->
            <div class="form-actions">
                <button type="button" class="btn btn-primary"  id="licensor_create">
				Create
                </button>
                <button type="reset" value="Reset" class="btn btn-primary reset_values">Reset</button>
                <a href="/licensors" class="btn btn-primary">Back to Index</a>
            </div>
    </form>
</div>