<span id="status_notify" > No job in progress</span><a style="width:100%;margin: 0 0 0px 4px;" href="#myModal" data-toggle="modal"  data-keyboard="true" class="error_disp"><img src="/assets/info_button.png"></a>
    <div class="progress progress-striped active" style="width:1000px;">
        <div class="bar" style="width: 0%;"></div>