<div class="cnt-left">
<h2 class="title">Friends</h2>
    <div class="outer-box">
            <div class="inner-box">
<div class="container user_friends">

<%=render :partial => "friends"%>

						</div>
</div>
</div>
</div>