<div class="cnt-left">
<h2 class="title">Fiends Invitations</h2>
<div class="outer-box">
<div class="inner-box">
<div class="container user_invitations">

<%=render :partial => "invite"%>

						</div>
</div>
</div>
</div>

