<div class="cnt-left">
<div class="outer-box">
<div class="inner-box">
	<div class="container">
		
				
				<div class="row">
						<h2 class="underline left">Add Album</h2>
						
						<%= render 'form' %>

					</div>
				</div>


</div>
</div>
</div>
