<div class="row">
  <a class="a alphabetical" data="A" href="javascript:void(0)">A</a>
  <a class="b alphabetical" data="B" href="javascript:void(0)">B</a>
  <a class="c alphabetical" data="C" href="javascript:void(0)">C</a>
  <a class="d alphabetical" data="D" href="javascript:void(0)">D</a>
  <a class="e alphabetical" data="E" href="javascript:void(0)">E</a>
  <a class="f alphabetical" data="F" href="javascript:void(0)">F</a>
  <a class="g alphabetical" data="G" href="javascript:void(0)">G</a>
  <a class="h alphabetical" data="H" href="javascript:void(0)">H</a>
  <a class="i alphabetical" data="I" href="javascript:void(0)">I</a>
  <a class="j alphabetical" data="J" href="javascript:void(0)">J</a>
  <a class="k alphabetical" data="K" href="javascript:void(0)">K</a>
  <a class="l alphabetical" data="L" href="javascript:void(0)">L</a>
  <a class="m alphabetical" data="M" href="javascript:void(0)">M</a>
  <a class="n alphabetical" data="N" href="javascript:void(0)">N</a>
  <a class="o alphabetical" data="O" href="javascript:void(0)">O</a>
  <a class="p alphabetical" data="P" href="javascript:void(0)">P</a>
  <a class="q alphabetical" data="Q" href="javascript:void(0)">Q</a>
  <a class="r alphabetical" data="R" href="javascript:void(0)">R</a>
  <a class="s alphabetical" data="S" href="javascript:void(0)">S</a>
  <a class="T alphabetical" data="T" href="javascript:void(0)">T</a>
  <a class="w alphabetical" data="W" href="javascript:void(0)">W</a>
  <a class="x alphabetical" data="X" href="javascript:void(0)">X</a>
  <a class="y alphabetical" data="Y" href="javascript:void(0)">Y</a>
  <a class="x alphabetical" data="Z" href="javascript:void(0)">Z</a>
</div>